meta-style()
  color: #909090;
  display: flex;
  align-items: center;

divider-style()
  display: flex;
  width: 1px;
  height: 1em;
  margin: 0 8px;
  vertical-align: middle;
  position: relative;
  background-color: var(--c-divider);

placeholder-color(color)
  &::placeholder
    color color
  &::-webkit-input-placeholder
    color color
  &:-moz-placeholder
    color color
  &::-moz-placeholder
    color color
  &:-ms-input-placeholder
    color color

text-ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis