meta-style()
  color: #909090;
  display: flex;
  align-items: center;

divider-style()
  display: flex;
  width: 1px;
  height: 1em;
  margin: 0 8px;
  vertical-align: middle;
  position: relative;
  background-color: var(--c-divider);