:root
  /**
   * Colors
   * --------------------------------------------------------------------- */

  --c-white #ffffff
  --c-white-dark #fbf6f0
  --c-black #000000

  --c-divider-light rgba(60, 60, 67, 0.12)
  --c-divider-dark rgba(84, 84, 88, 0.48)

  --c-text-light-1 #2c3e50
  --c-text-light-2 #476582
  --c-text-light-3 #90a4b7

  --c-brand #1a73e8
  --c-brand-light #5d9cef

  /**
   * Typography
   * --------------------------------------------------------------------- */

  --font-family-base -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif
  --font-family-mono source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace

/** Fallback Styles */
:root
  --c-divider var(--c-divider-light)

  --c-text var(--c-text-light-1)
  --c-text-light var(--c-text-light-2)
  --c-text-lighter var(--c-text-light-3)

  --c-bg var(--c-white)
  --c-bg-accent var(--c-white-dark)

  --code-line-height 24px
  --code-font-family var(--font-family-mono)
  --code-font-size 14px
  --code-inline-bg-color rgba(27, 31, 35, 0.05)
  --code-bg-color #f6f6f6
  --code-bg-color-dark #282c34

  --c-main-width 48rem

